---
layout: default
---
<div class="welcome">
	<img class="album-art" src="/assets/itunes.png" alt="Why Do You Care?!">
	<h2 class="welcome__text">A podcast about the media we love, the media we hate, and why we care.</h2>
	<p class="welcome__hosts">Hosted by <a href="https://twitter.com/willmoyer">Will Moyer</a> and <a href="https://twitter.com/kingdomhorse">Katie Allinson</a></p>
</div>
{% include listen-box.html %}

<ul class="episode-list">
<h2 style="width: 100%; text-align: center;">Episodes</h2>
{% for episode in site.categories.episodes %}
	{% if episode.layout == "episode" %}
	<li class="episode-list__li" style="background-image: url('{{episode.promo}}');"><a class="episode-list__title" href="{{ site.url }}{{ episode.url }}">{{episode.title | slice: 7,1000}}</a></li>
	{% endif %}
{% endfor %}	
</ul>
